.bg-dark-blue {
  background-color: #071e3d;
  color: #f4f4f4;
}
@media (max-width: 768px) {
  .bg-sm-none {
    background-color: transparent;
    color: #000000;
  }
  .bg-sm-dark-blue {
    background-color: #071e3d;
    color: #f4f4f4;
  }
}
