.text-justify {
  text-align: justify;
}

.date {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.name-autor {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
.gap-10 {
  gap: 25px;
}
